/*html {
    display: block;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    overflow: auto;
}*/

:root {
    --white: color: hsl(0, 0%, 96%);
}

body {
    
    background-image: url("concrete.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
    background-color: #555;
    color: #EEEEEE;
    font-family: sans-serif;
    font-family: apotek, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    margin: 0;
    opacity: 5;
    line-height: 1.5em;

    /*
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    */
}

.header-image {
    width: 100vw;
    grid-row: 2;
    grid-column: 1 / 2;
}

.container-socials {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}

.blurb-container {
    display: flex;
    flex-direction: column;
}

.socials-blurb-container {
    display: flex;
    flex-direction: column;

    grid-row: 3;
}

.blurb {
    background: #222222;
    padding: 2em;
    line-height: 2em;
    border-radius: 10px;
}

.pfp {
    width: 10em;
    height: auto;
    border-radius: 2em;
    align-self: center;
}

#homepagepicture {
    animation-duration: 1s;
    animation-name: slidefromleft;
}

#commands-table, #commands-intro {
    align-content: center;
    animation-duration: 1s;
    animation-name: slidefromleft;
}

#socials-buttons {
    align-content: center;
    align-items: center;
}

@media (min-width: 990px) {
    #commands-table, #commands-intro, #socials-buttons {
        max-width: 70%;
    }
}

@keyframes slidefromleft {
    from {
        opacity: 0;
        margin-right: 10%;
    }
    to {
        opacity: 1;
        margin-right: 0%;
    }
}

.bg-dark {
    background-color: #222222;
}

.nav-bar {
    min-height: 3rem;
    overflow: hidden;
    position: relative;
    margin: auto;
    list-style-type: none;
    text-decoration: none;
    padding-inline-start: 0%;
    background-color: #222;
    color: #EEE;
}

.nav-bar a {
    text-decoration: none;
    color: #EEE;
    padding-left: 1rem;
    padding: 1rem;
    display: block;
}

.nav-bar a.icon {
    background: #222;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 2.5rem;
}

.nav-links {
    display: none;
}

.icon {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    max-height: 100%;
}

.cards a, .header-card a {
    width: 100%;
    padding: 1rem;
    background-color: #2b5565;
    border-color: #EEE;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: 0%;
}

.title {
    font-family: apotek-extrawide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding-top: 2rem;

    animation-duration: 1.25s;
    animation-name: fade;
}

.subtitle {
    font-family: apotek-extrawide, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--white);
    margin: 0;
    margin-bottom: 2rem;

    animation-duration: 1.25s;
    animation-name: fade;
}

.header-image {
    max-width: 100%;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.cards .row {
    justify-content: space-between;
}

.header-card {
    display: flex;
}

.card {
    padding: 2rem;
    border-style: solid;
    border-color: #555;
}

.card-small {
    max-width: 30%;
}

.card-picture {
    object-fit: cover;
    max-width: 50%;
}

.card-body {
    padding: 2rem;
}

.card-text {

}

.d-grid a {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1.25s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 0;
        margin-right: 5%
    }
    to {
        opacity: 1;
        margin-right: 0%;
    }
}

.btn1 {
    animation-delay: 0.1s;
}

.btn2 {
    animation-delay: 0.2s;
}

.btn3 {
    animation-delay: 0.3s;
}

.btn4 {
    animation-delay: 0.4s;
}

.btn5 {
    animation-delay: 0.5s;
}

.btn6 {
    animation-delay: 0.6s;
}

ul, li {
    list-style-type: none;
}

.chat-bg-image {
    background-image: url('chat_background.jpg');
    background-color: rgba(50, 50, 50, 1);
    background-blend-mode: multiply;
    background-size: cover;
}

.commands-blurb-container {
    font-size: 3em;
    grid-column: 1 /  4;
    grid-row: 2;

}

.commands-blurb-container li {
    list-style-type: disc;
}

.command {
    color: #0378a6;
}

.socials-header-image {
    max-width: 20vw;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

.footer {
    max-width: 100%;
    background-color: #222;
    text-align: center;
    vertical-align: middle;
    padding: 2.5rem;
    margin-top: 5rem;
}

/* Small Screens */
@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .title {
        font-size: 2.4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .cards, .header-card {
        flex-direction: column;
    }

    .cards .row {
        justify-content: center;
    }

    .card-picture {
        max-width: 100%;
    }

    .card {
        margin: 0;
        max-width: 90%;
        margin-top: 2rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Medium Screens */
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-weight: 300;
    }

    #hamburger_icon {
        display: none;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .row {
        justify-content: center;
    }

    .card {
        max-width: 80%;
        margin: 2rem;
    }

    .nav-bar, .nav-links {
        display: flex;
    }
}

/* Large screens */
@media (min-width: 1201px) {
    .cards {
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .nav-bar, .nav-links {
        display: flex;
    }

    .nav-bar a.icon {
        display: none;
    }
}