/*html {
    display: block;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    overflow: auto;
}*/

body {
    
    background-image: url("concrete.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
    background-color: #111111;
    color: #EEEEEE;
    font-family: sans-serif;
    font-family: apotek, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

    margin: 0;
    opacity: 5;
    line-height: 2em;

    /*
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    */
}

.header-image {
    width: 100vw;
    grid-row: 2;
    grid-column: 1 / 2;
}

.container-socials {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}

.blurb-container {
    display: flex;
    flex-direction: column;
}

.socials-blurb-container {
    display: flex;
    flex-direction: column;

    grid-row: 3;
}

.blurb {
    background: #222222;
    padding: 2em;
    line-height: 2em;
    border-radius: 10px;
}

.pfp {
    width: 10em;
    height: auto;
    border-radius: 2em;
    align-self: center;
}

.title {
    padding: 1em;
    grid-row: 1;
    grid-column: 1 / 4;

    animation-duration: 2s;
    animation-name: fade;
}

.d-grid a {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn1 {
    animation-delay: 0.1s;
}

.btn2 {
    animation-delay: 0.2s;
}

.btn3 {
    animation-delay: 0.3s;
}

.btn4 {
    animation-delay: 0.4s;
}

.btn5 {
    animation-delay: 0.5s;
}

.btn6 {
    animation-delay: 0.6s;
}

h1 {
    font-family: apotek-extrawide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: white;
    line-height: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.footer {
    grid-row: 5;
    grid-column: 1 / 4;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    font-size: 3em;
    margin: auto;
    padding: 1em;
    background-color: #040407;
    align-items: center;
    justify-content: center;
}

ul, li {
    list-style-type: none;
}

.chat-bg-image {
    background-image: url('chat_background.jpg');
    background-color: rgba(11,  11,  11, 11);
    background-blend-mode: multiply;
    background-size: cover;
}

.commands-blurb-container {
    font-size: 3em;
    grid-column: 1 /  4;
    grid-row: 2;

}

.commands-blurb-container li {
    list-style-type: disc;
}

.command {
    color: #0378a6;
}

.socials-header-image {
    max-width: 20vw;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}